@media screen and (max-width : 1200px){
    header {
        width: 95%;
        transition: .5s linear;
    }
    header .song_box{
        width: 73%;
    } 
     header .menu_box{
        width: 27%;
    }
     header .song_box .content {
        height: 20%;
    } 
}

@media screen and (max-width : 980px){
    header .menu_box{
        z-index: 999;
        width: 40%;
        position: absolute;
        transition: 1s linear;
        transform: translateX(-100%);
    }
    header .song_box{
        width: 100%;
    }

    header .masterplay{
        position: absolute;
        bottom: 0;
    }
    header .menu_box h6 {
        position: absolute;
        right: -40px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        background: #111727;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        transition: 1s linear;
    }
}

@media  screen and (max-width : 680px) {
    header {
        width: 100%;
        height: 100vh;
    }

    header .song_box nav ul li {
       margin-right: 12px; 
       font-size: 11px;
    }
    header .song_box nav .search{
        width: auto;
    }
    header .menu_box{
        width: 60%;
    }
    header .masterplay{
        z-index: 99999999999999999999999999999999999999;
    }
    header .masterplay .icons{
        position: absolute;
        bottom: 95px;
        right: 30%;
    }
    header .masterplay .icons::before{
        content: '';
        position: absolute;
        width: 200px;
        height: 180px;
        background: #111727;
        z-index: -1;
        border-radius: 50% 50% 0% 0%;
        left: -20%;
        box-shadow: 0px -11px 20px -17px #000;
        }
    header .masterplay .wave{
        position: absolute;
        bottom : 126px;
        width: 40px;
        height: 40px;
        right: 40%;
    }
    header .masterplay .wave .wave1 {
        width: 7px;
        
    }
    header .masterplay .wave .wave1:nth-child(3) {
        width: 7px;
    }
    header .masterplay .wave .wave1:nth-child(2) {
        width: 7px;
    }
}

@media screen and (max-width:490px) {
    header .song_box nav .search{
        display: flex;
        width: 150px;
        margin-right: 5px;
    }
    header .masterplay .wave {
        right: 44%;
    }
    header .song_box .popular-song {
        margin-top: 40px;
    }
    header .menu_box{
        width: 70%;
    }
}

@media screen and (max-width:417px){
    header .song_box nav ul li {
        font-size: 8px;
        margin-right: 7px;
    }
    header .song_box .popular-song{
        margin-left: 17px;
    }
    header .song_box nav .search{
        width: 140px;
    }
    header .menu_box{
        width: 80%;
        
    }
}